body {
    max-width: 1200px;
    width: 100%;
    font-family: 'PT Sans Caption', sans-serif;
}

header {
    background-color: #c2a557;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    max-height: 201px;
}

#logo {
    margin-left: 2px;
    margin-top: 1px;
}

#pageTitle {
    float: right;
    margin-top: 85px;
    margin-right: 30px;
    font-size: 30px;
    font-family: 'Itim', cursive;
}

nav {
    margin-left: 210px;
    margin-top: -55px;
    padding-left: 5px;
    background: #c2a557;
    border-style: groove none groove none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav li a {
    display: block;
    color: #a786f5;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    width: 100px;
}

nav li a:hover {
    background-color: #f6eec5;
    color: #b157c2;
    font-weight: bold;
}

nav li .active {
    background-color: #f6eec5;
    color: #a786f5;
    font-weight: bold;
}

h1 {
    font-family: 'Itim', cursive;
}

