.box {
    font-size: 14pt;
    padding: 15px;
    border: solid 2px black;
    border-radius: 5px;
    margin: 5px;
}

#box1 {
    background-color: bisque;
}

#box2 {
    background-color: cadetblue;
}

#box3 {
    background-color: darkcyan;
}

.clickButton {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.box:hover {
    font-weight: bold;
}